<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="social-icons">
            <li><a href="https://www.facebook.com/TvN.pEngUin/">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Tiktok</a></li>
            <li><a href="#">Youtube</a></li>
            <li><a href="#">Dribbble</a></li>
          </ul>
        </div>
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>Copyright 2023 Stand Blog Co.
                  
               | Design: <a rel="nofollow" href="https://www.facebook.com/TvN.pEngUin/" target="_parent">Nguyên Trần</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>