<footer style="padding: 20px 0;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="social-icons" style="padding-bottom: 20px;
          margin-bottom: 20px;">
            <li><a href="https://www.facebook.com/sairoi.anh.56829446/">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Tiktok</a></li>
            <li><a href="#">Youtube</a></li>
            <li><a href="#">Dribbble</a></li>
          </ul>
        </div>
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>Copyright 2023 Tùng La Blog.
                  
               | Design: <a rel="nofollow" href="https://www.facebook.com/sairoi.anh.56829446/" target="_parent">Tùng La</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>